{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Checkout Now</h1>
{% if cart %}
<table>
<thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for item in cart %}
    <tr>
        <td>{{item.product}}</td>
        <td>{{item.total_price}}</td>
        <td><a href="?remove_from_cart={{ item.id }}">Remove</a></td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
<tr>
    <td><strong>Total cost</strong></td>
    <td><strong>{{ cart|length}}</strong></td>
    <td colspan="2"><strong>${{ cart.get_total_cost }}</strong></td>
</tr>
</tfoot>
</table>
{% if user.is_authenticated %}
<div id="paypal-button-container"></div>
{% else %}
<a href="{% url 'login' %}">Please login to checkout</a>
{% endif %}

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AVCOguZWaNBES6Xqeh5LJLmNROT_98ujCixQZy1qmPFSFsBmjCvzZMO0bS8rqlQdXPCwyuU09FZuQI92&currency=USD"></script>

<script>
    var total = '{{cart.get_total_cost}}'

    const doJSON = () => {
        $.ajax({
            type: 'GET',
            url:`/cart/completed/`,
            success: function (response){
            }
        })
    }
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                var a = "{% url 'client_admin'  %}"
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                //alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                doJSON()
                //document.location.href = a;
                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }

    }).render('#paypal-button-container');

</script>
{% else %}
<p>You don't have any products in your cart!</p>
{% endif %}
{% endblock %}