{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load product_extra %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'product_search_style.css' %}">
{% endblock %}
{% block content %}
<div style="text-align: center">
    <div class="content-box">
        <form method="get">
            {{myFilter.form|crispy}}
            <button class="btn-sm btn-primary" type="submit">Search</button>
            <!--<input placeholder="Search Your Analysis" style="width: 100%; text-align: center">-->
        </form>
    </div>
    <h5 style="text-align: center; padding-top: 20px">Research</h5>
    <table class="styled-table">
        <thead>
        <tr>
            <td><p>Seller</p></td>
            <td><p>Publisher</p></td>
            <td><p>Price</p></td>
            <td><p>Type</p></td>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_page' product.slug %}">{{product.title}}</a>
                <br>
                <small>{{product.date_added.date}}</small>
            </td>
            <td><p>{{product.client}}</p></td>
            <td><p>£{{product.price|intcomma}}</p></td>
            <td><p style="background-color:{{ product.research_type.color }}; border-radius: 5px">{{product.research_type}}</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="styled-table-small">
        <tbody>
        <thead>
            <tr>
                <td><p></p></td>
            </tr>
        </thead>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_page' product.slug %}">{{product.title}}</a>
                <br>
                <small>{{product.date_added.date}}</small>
                <br>
                <p>{{product.client}}</p>
                <p>£{{product.price|intcomma}}</p>
                <p style="background-color:{{ product.research_type.color }}; border-radius: 5px;  width: 60%; margin: auto">{{product.research_type}}</p>
                <hr>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}