{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{% static 'homepage_style.css' %}">

{% endblock %}
{% block content %}

<div class="img-wrapper">
    <img class="img-responsive" src="media/images/homepage-background.jpg"/>
    <div class="header-overlay">
        <h1 style="color: white; font-size: 5vw;">Investment Hub</h1>
        <h4 style="color: white; margin-left: 20px; margin-right: 20px; font-size: 3vw;">Search and Purchase Analysis from Top Investment Firms</h4>
    </div>
    <div class="img-overlay">
        {% if user.is_authenticated %}
        <a class="btn" href="{% url 'client_admin' %}" style="color: white; background-color: #0d6efd">Client Admin</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'register' %}">Sign Up Today</a>
        {% endif %}
        <a class="btn btn-light" href="{% url 'product_search' %}">See Products</a>
    </div>
</div>
<div>
    <h1 class="section-header">Categories</h1>
    <ul class="gallery">
        <li style="background: #f6bd60;"><h2 style="color:#8c6b35;">Profitability</h2></li>
        <li style="background: #f7ede2;"><h2 style="color:#948d85;">Solvency</h2></li>
        <li style="background: #f5cac3;"><h2 style="color:#8f746f;">Liquidity</h2></li>
        <li style="background: #84a59d;"><h2 style="color:#35423f;">Trend</h2></li>
        <li style="background: #f28482;"><h2 style="color:#8f4d4c;">Horizontal</h2></li>
        <li style="background: #f6bd60;"><h2 style="color:#8c6b35;">Vertical</h2></li>
        <li style="background: #f7ede2;"><h2 style="color:#948d85;">FP&A</h2></li>
        <li style="background: #f5cac3;"><h2 style="color:#8f746f;">Variance</h2></li>
        <li style="background: #84a59d;"><h2 style="color:#35423f;">Valuation</h2></li>
        <li style="background: #f28482;"><h2 style="color:#8f4d4c;">Scenario & Sensitivity</h2></li>
    </ul>
</div>
<div>
    <h1 class="section-header">New Arrivals</h1>
    <div class="container">
        <div class="row">
            {% for product in newProducts %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{{product.research_type.image.url}}" height="200px" width="200px">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description|slice:"30"}}...</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- put three cards in each list item, make the cards myself -->
</div>
<div>
    <h1 class="section-header">Most Popular</h1>
    <div class="container">
        <div class="row">
            {% for product in mostPopularProducts %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{{product.research_type.image.url}}" height="200px" width="200px">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p>{{product.research_type}}</p>
                        <p class="card-text">{{product.description|slice:"30"}}..</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <h1 class="section-header">About Us</h1>
    <h2 class="section-header">Email List?</h2>
</div>
<div>
    <h1 class="section-header">Footer</h1>
</div>


{% endblock %}