#content-box-left{
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: dodgerblue;
}
#content-box-right{
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: beige;
}
@media screen and (max-width: 992px) {
#content-box-right{
    margin-top: 5px;
    margin-left: 0;
}
#content-box-left{
    margin-left: 0;
}
}