body {
    background-color: #e3edf2 !important;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.consistent .card{
    height: 90%;
}
.fa-lg{
    font-size: 36px;
    margin-left: -10px;
    margin-bottom: 8px;
}

.card-info{
    display: flex;
}
.card-title{
    text-align: center
}
.info-container{
    margin-top: auto;
    margin-bottom: auto;
}
.stats .col-md-4{
    border-right: 1px solid #dfe2e6;
}
.stats .col-md-4:last-child{
    border-right: none
}
.stats p{
    line-height: 8px;
}
table{
    width: 100%;
    margin-bottom: 20px;
}
table, th, td {
    padding: 10px;
    border-bottom: 1px solid #dfe2e6 !important;
}
@media (max-width: 768px){
    .stats .col-md-4{
        padding-top: 5px;
        border-right: none;
        border-bottom: 1px solid #dfe2e6;
    }
    .stats .col-md-4:last-child{
        border-bottom: none
    }
}