body{
    background-color: #fdfdfd;
}
.features-row {
    min-height: 100px;
    text-align: center;
}
.features-col{
    padding-bottom: 10px;
}
.colored{
    padding-top: 30px;
    color: #42474e;
    padding-bottom: 30px;
}
.steps-row {
    min-height: 100px;
    text-align: center;
}
.steps-col{
    padding-bottom: 10px;
}
.number-circle{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px;
    background: #42474e;
    border: 3px solid #42474e;
    color: whitesmoke;
    text-align: center;
    font: 32px Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}
.cent-wrapper{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay, .header-overlay, #carouselExampleSlidesOnly {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.header-overlay:before{
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height:25%;
}
.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 85%;
}
#carouselExampleSlidesOnly:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
    text-align: center;
}

.section-header{
    padding-left: 1rem;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .img-overlay .btn {
        font-size: 70%;
    }

}




