/* table */

.styled-table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.9em;
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.styled-table tbody{
    width: 100%;
    overflow: auto;
    text-align: center;
    height: 100%;
}

.styled-table thead tr {
    background-color: white;
    border-radius: 5px 5px 0 0;
    color: black;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    width: 100%;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(34, 37, 41, 0.71);
    border-radius: 0 0 5px 5px;

}
a{
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: royalblue;
}