{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block extra-css %}
<link rel="stylesheet" href="{% static 'client_orders_style.css' %}">
{% endblock %}
{% block content %}
<div class='mt-5 pt-5 ml-5 pl-5'>
    <form method="get" class="center-form">
        {{OrdersFilter.form}}
        <button class="btn-sm btn-primary" type="submit">Search</button>
        <!--<input placeholder="Search Your Analysis" style="width: 100%; text-align: center">-->
    </form>
    <table style="text-align: center">
        <tr style="background-color: #4aa0b5; color: white;">
            <th>Order No.</th>
            <th>Amount</th>
            <th></th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>#{{order.id}}</td>
            <td>£{{order.paid_amount|intcomma}}</td>
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{order.id}}">
                View
            </button></td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="text-align: center">
                        <h5 class="modal-title" id="staticBackdropLabel">Order #{{order.id}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        {% for x in order.items.all %}
                        {% if x.client == user.client %}
                        <hr>
                        <p>{{x.client}}</p>
                        <p>{{x.product}}</p>
                        <p>£{{x.price|intcomma}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>

<!-- Pagination -->
<div class='pagination justify-content-center'>
    <li class="page-item {% if not orders.has_previous %} disabled {% endif %}">
        <a class="page-link" href="{% if orders.has_previous %} {% url 'client_orders' orders.previous_page_number %}{% endif %} ">Previous</a>
    </li>

    {% if orders.number|add:'-1' > 1 %}
    <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
    {% endif %}

    {% for i in orders.paginator.page_range %}
    {% if orders.number == i %}
    <li class="active page-item disabled"><a class="page-link">{{ i }}</a></li>
    {% elif i > orders.number|add:'-2' and i < orders.number|add:'2' %}
    <li class="page-item"><a class="page-link" href="{% url 'client_orders' i %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if orders.paginator.num_pages > orders.number|add:'1' %}
    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
    {% endif %}

    <li class="page-item {% if not orders.has_next %} disabled {% endif %}">
        <a class="page-link" href="{% if orders.has_next %} {% url 'client_orders' orders.next_page_number %} {% endif %}">Next</a>
    </li>
</div>
<div style="text-align: center; padding-top: 10px">
    <a href="{% url 'client_admin' %}" class="btn btn-primary">Back to Admin</a>
</div>
<!-- END Pagination -->

{% endblock %}