{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block extra-css%}
<link rel="stylesheet" href="{% static 'admin_style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

{% endblock %}
{% block content %}
<div class="container-fluid consistent" id="first-row">
    <br>
    <h1>Dashboard</h1>
    <br>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card text-black">
                <div class="card-info">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-square fa-stack-2x" style="color: #4aa0b5"></i>
                      <i class="fas fa-tags fa-stack-1x" style="color: white"></i>
                    </span>
                    <div class="info-container">
                        <span>Products</span>
                        <br>
                        <span><strong>{{productCount}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3  col-sm-6">
            <div class="card text-black">
                <div class="card-info">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-square fa-stack-2x" style="color: #cb444a"></i>
                      <i class="fas fa-download fa-stack-1x" style="color: white"></i>
                    </span>
                    <div class="info-container">
                        <span>Downloads</span>
                        <br>
                        <span><strong>{{orderCount}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card text-black">
                <div class="card-info">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-square fa-stack-2x" style="color: #53a351"></i>
                      <i class="fas fa-money-bill-alt fa-stack-1x"  style="color: white"></i>
                    </span>
                    <div class="info-container">
                        <span>Revenue</span>
                        <br>
                        <span><strong>£{{revenue|intcomma}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card text-black">
                <div class="card-info">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-square fa-stack-2x" style="color: #fdcc2e"></i>
                      <i class="fas fa-fire fa-stack-1x" style="color: white"></i>
                    </span>
                    <div class="info-container">
                        <span>Most Popular</span>
                        <br>
                        <span><strong>App Name</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="second-row">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-black" style="text-align: center">
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body" style="background-color: #f7f7f7">
                    <div class="container-fluid" style="text-align: center">
                        <div class="row stats">
                            <div class="col-md-4">
                                <p style="color: forestgreen">
                                    +17%
                                </p>
                                <p>
                                    <strong>$35,210.43</strong>
                                </p>
                                <p>
                                    TOTAL REVENUE
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p style="color: forestgreen">
                                    +17%
                                </p>
                                <p>
                                    <strong>$35,210.43</strong>
                                </p>
                                <p>
                                    TOTAL REVENUE
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p style="color: forestgreen">
                                    +17%
                                </p>
                                <p>
                                    <strong>$35,210.43</strong>
                                </p>
                                <p>
                                    TOTAL REVENUE
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="container-fluid consistent" id="third-row">
    <div class="row">
        <div class="col-md-8">
            <div class="card text-black mb-3" >
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Products</h5>
                    <table style="text-align: center">
                        <tr style="background-color: #4aa0b5; color: white;">
                            <th>Company</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for product in products %}
                        <tr>
                            <td>{{product.title}}</td>
                            <td><a href="{{product.file.url}}"class="btn btn-primary">View</a> </td>
                            <td><a href="{% url 'edit_product' product.slug %}" class="btn btn-success">Edit</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid consistent" id="fourth-row">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-black mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card text-black mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Orders</h5>
                    <table style="text-align: center">
                        <tr style="background-color: #4aa0b5; color: white;">
                            <th>Order No.</th>
                            <th>Amount</th>
                            <th>Products</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>#{{order.id}}</td>
                            <td>£{{order.paid_amount|intcomma}}</td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{order.id}}">
                                {{order.items.count}}
                            </button></td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align: center">
                                        <h5 class="modal-title" id="staticBackdropLabel">Order #{{order.id}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="text-align: center">
                                            {% for x in order.items.all %}
                                                <hr>
                                                <p>{{x.client}}</p>
                                                <p>{{x.product}}</p>
                                                <p>£{{x.price|intcomma}}</p>
                                            {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extraJS %}
<script src="{% static 'admin_script.js' %}"></script>
<script>
    var endpoint = '/client/graphs/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            drawLineGraph(data, 'graphCanvas');

        },
        error: function(error_data) {

            console.log(error_data);
        }
    })
    function drawLineGraph(data, id) {
        var labels = data.dates;
        var chartData = data.paid;
        var colorPalette = data.colorPalette
        var ctx = document.getElementById(id).getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: labels,
                datasets: [{
                    label: "Revenue",
                    backgroundColor: 'rgba(55, 99, 132, 0.2)',
                    borderColor:'rgb(55, 99, 132)',
                    data: chartData,
                }]
            },

            // Configuration options go here
            options: {
                scales: {
                    xAxes: [{
                        display: true
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }

        });
    }
    function drawBarGraph(data, id) {
        var colorPalette = data.colorPalette
        var colorPaletteBoarder = data.colorPaletteBoarder
        var labels = data.dates;
        var chartData = data.paid;
        var ctx = document.getElementById(id).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Hello",
                    data: chartData,
                    backgroundColor:colorPalette,
                    borderColor:colorPaletteBoarder,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
    function drawPieGraph(data, id) {
        var colorPalette = data.colorPalette
        var colorPaletteBoarder = data.colorPaletteBoarder
        var labels = data.dates;
        var chartData = data.paid;
        var ctx = document.getElementById(id).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: labels,
                    data: chartData,
                    backgroundColor:colorPalette,
                    borderColor:colorPaletteBoarder,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Pie Chart'
                    }
                }
            },
        });
    }
</script>
{% endblock %}
