{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra-css%}
<link rel="stylesheet" href="{% static 'admin_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-lg-3 col-xl-2 px-lg-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-lg-column flex-row flex-grow-1 align-items-center align-items-lg-start px-3 pt-2 text-white">
                <ul class="nav nav-pills flex-lg-column flex-row flex-nowrap flex-shrink-1 flex-lg-grow-0 flex-grow-1 mb-lg-auto mb-0 justify-content-center align-items-center align-items-lg-start" id="menu">
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-lg-0 px-2" id="dashboard-but">
                            <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-lg-inline">Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-lg-0 px-2" id="orders-but">
                            <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-lg-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-lg-0 px-2" id="products-but">
                            <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-lg-inline">Products</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-lg-0 px-2" id="customers-but">
                            <i class="fs-5 bi-cash-coin"></i><span class="ms-1 d-none d-lg-inline">Financials</span> </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link px-lg-0 px-2" id="settings-but">
                            <i class="fs-5 bi-gear"></i><span class="ms-1 d-none d-lg-inline">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <main class="row overflow-auto" id="main-1">
                {% include 'client/client_admin_tabs/Dashboard.html' %}
            </main>
            <main class="row overflow-auto" id="main-2" style="display:none;">
                {% include 'client/client_admin_tabs/Orders.html' %}
            </main>
            <main class="row overflow-auto" id="main-3" style="display:none;">
                {% include 'client/client_admin_tabs/Products.html' %}
            </main>
            <main class="row overflow-auto" id="main-4" style="display:none;">
                {% include 'client/client_admin_tabs/Financials.html' %}
            </main>
            <main class="row overflow-auto" id="main-5" style="display:none;">
                {% include 'client/client_admin_tabs/Settings.html' %}
            </main>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<script src="{% static 'admin_script.js' %}"></script>
{% endblock %}
