{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
<link rel="stylesheet" href="{% static 'add_product_style.css' %}">

{% endblock %}
{% block content %}
<div id="outer">
    <div id="form-area">
        <h1>Edit Research</h1>
        <form id="addprod" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'main/form_base.html' %}

            <button id="submit-button" class="btn btn-success" style="">Add Research</button>
        </form>
    </div>
</div>
{% endblock %}