{% extends 'main/base.html' %}
{% load static %}
{% block extra-css%}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
<link rel="stylesheet" href="{% static 'add_product_style.css' %}">

{% endblock %}
{% block content %}
<div id="outer">
    <div id="form-area">
        <h1>Edit Research</h1>
        <form id="addprod" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'main/form_base.html' %}

            <button id="submit-button" class="btn btn-success">Update</button>
        </form>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="{% url 'delete_product' product.slug %}" class="btn btn-danger" style="">Delete</a>
        </div>
    </div>
</div>
{% endblock %}